<h3>Welcome To Learner</h3>
<p>
  Lorem ipsum dolor sit amet, consectetuer <em>adipiscing elit</em>, sed diam nonummy nibh euismod 
  tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis.
</p>
{{#if user}}
Ready to register for free classes.
{{else}}
<a class="button" href="/users/register">Sign Up Free</a>
<p>You need to signup to register for free classes.</p>
{{/if}}